@import "abstracts/variables";
@import "abstracts/animations";
@import "abstracts/typography";
@import "abstracts/utils";

@import "base/reset";
@import "base/table";
@import "base/contentcontainer";
@import "base/btn.css";
@import "base/list.css";

/* // @import "components"; */

/* // @import "layouts";


// @import "page";


// @import "theme";


// @import "vendors"; */
@import "vendors/fonts";


#__next{
    display: flex;
    flex-direction: column;
    align-items: center;
}